<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>8static is a Philadelphia-based chiptune and nerd art event series celebrating the fusion of
          retro gaming and modern electronic music and art. We showcase performances by artists
          who push the limits of sound chips, use technology in an interesting way,
          or comment on video game culture and art.</p>
      </div>
      <div class="col-lg-4">
        <p>Beyond live events, 8static fosters a community for artists and fans who explore chip music,
          pixel art, performance arts, hacking hardware or sofware, creative visual coding creative culture.
        </p>
      </div>
    </div>
  </div>
</section>
