<!-- About Section -->
<section class="success" id="next-show">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Next Show =>
              <a href="{{ site.fliers.last.tickets }}" target="_blank">
              <br></ br><br></ br>
              <i class="fa-solid fa-ticket fa-beat"></i>
                TICKETS
              <i class="fa-solid fa-ticket fa-beat"></i></a>
              <br></ br><br></ br>
            </h2>
      </div>

        <div class="col-lg-12">
            <img src="/img/fliers/{{ site.fliers.last.img }}" class="img-responsive">
        </div>
    </div>
  </div>
</section>
