<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Artists</h2>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for artist in site.artists reversed %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ artist.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <svg class="icon icon-3x" viewBox="0 0 512 512" aria-hidden="true" focusable="false"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM184 296c0 13.3 10.7 24 24 24s24-10.7 24-24l0-64 64 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-64 0 0-64c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 64-64 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l64 0 0 64z"/></svg>
            </div>
          </div>
          <img src="/img/artists/{{ artist.img }}" class="img-responsive" alt="{{ artist.alt }}" width="{{ artist.width }}" height="{{ artist.height }}" loading="lazy" decoding="async">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
